<div class="container">
    <img src="/img/caracakes2.png" alt="CaraCakes" class="container__logo">
    <nav class="container__nav">
        <ul class="container__nav--list">
            <li class="container__nav--item home"><a href="#home" class="container__nav--link">Home</a></li>
            <li class="container__nav--item offers"><a href="#offers" class="container__nav--link">Offers</a></li>
            <li class="container__nav--item flvs"><a href="#flvs" class="container__nav--link">Flavours</a></li>
            <li class="container__nav--item stry"><a href="#stry" class="container__nav--link">Stories</a></li>
            <li class="container__nav--item information"><a href="#info" class="container__nav--link">Info</a></li>
            <li class="container__nav--item gall"><a href="#gall" class="container__nav--link">Gallery</a></li>
            <!-- <li class="container__nav--item <%= path === '/about' ? 'container__nav--active' : '' %>"><a href="/about" class="container__nav--link">About</a></li>
            <li class="container__nav--item <%= path === '/gallery' ? 'container__nav--active' : '' %>"><a href="/gallery" class="container__nav--link">Gallery</a></li>
            <li class="container__nav--item <%= path === '/stories' ? 'container__nav--active' : '' %>"><a href="/stories" class="container__nav--link">Stories</a></li> -->
            <li class="container__nav--item <%= path === '/login' ? 'container__nav--active' : '' %>"><a href="/login" class="container__nav--link">Login</a></li>
            <li class="container__nav--item <%= path === '/signup' ? 'container__nav--active' : '' %>"><a href="/signup" class="container__nav--link">Signup</a></li>
            <li class="container__nav--item"><a href="/admin" class="container__nav--link">Admin index</a></li>
        </ul>
    </nav>
</div>