<%- include('../partials/general-partials/head.ejs') %>
</head>

<body>
    <%- include('../partials/user-partials/user-header.ejs') %>
    <section class="panel">
        <%- include('../partials/user-partials/user-information.ejs') %>
        <div class="panel__event">
            <%- include('../partials/user-partials/event-delete.ejs') %>
        </div>
    </section>
    <%- include('../partials/general-partials/end.ejs') %>