<div class="admin__form admin__bg">
    <% if (success) { %>
        <div class="flash__message flash__message-success">
            <%= success %>
        </div>
        <% } %>
            <% if (errorMessage) { %>
                <div class="flash__message flash__message-danger">
                    <%= errorMessage %>
                </div>
                <% } %>
                    <h3 class="title-lil-2 txt-black">
                        <% if (editing) { %> Update Doughnuts
                            <% } else { %> Add Doughnuts
                                <% } %>
                    </h3>
                    <form class="add__form" action="/admin/<% if (editing) { %>edit-dons<% } else { %>add-pastry<% } %>" method="POST" enctype="multipart/form-data">
                        <div class="add__form--sheet">
                            <input type="text" class="add__input" id="name" placeholder="Name of cake" name="name" value="<% if (editing) { %><%= pastry.name %> <% } %>" required>
                            <label for="name" class="add__label">Name of doughnut</label>
                        </div>
                        <div class="add__form--sheet">
                            <input type="number" class="add__input" id="price" placeholder="Price" name="price" value="<% if (editing) { %><%= pastry.price %><% } %>" required>
                            <label for="price" class="add__label">Price</label>
                        </div>
                        <!-- <div class="add__form--sheet">
            <input type="text" class="add__input" id="image" placeholder="Image" name="image"
                value="<% if (editing) { %><%= pastry.image %> <% } %>" required>
            <label for="image" class="add__label">Image</label>
        </div> -->
                        <div class="add__form--sheet">
                            <input type="file" class="add__input" id="image" placeholder="Image" name="image" required>
                            <label for="image" class="add__label">Image</label>
                        </div>
                        <input type="hidden" name="type" value='Doughnuts'>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <div class="add__form--sheet">
                            <textarea name="desc" cols="30" rows="5" class="add__input" placeholder="Description"><% if (editing) { %><%= pastry.description %> <% } %></textarea>
                        </div>
                        <% if (editing) { %>
                            <input type="hidden" value="<%= pastry._id %>" name="pastryId">
                            <% } %>
                                <button class="btn-3 btn-deep--pink" type="submit"><% if (editing) { %>Update<% } else { %>Add
            <% } %></button>
                                <a href="/admin/dons" class="btn-3 btn-deep--pink">View</a>
                    </form>
</div>