<section class="admin">
    <%- include('admin-dashboard.ejs') %>
    <% if (path === '/admin/cakes') { %>
    <%- include('cakes.ejs') %>
    <% } else if (path === '/admin/dons') { %>
    <%- include('dons.ejs') %>
    <% } else if (path === '/admin/cookies') { %>
    <%- include('cookies.ejs') %>
    <% } else if (path === '/admin/pans') { %>
    <%- include('pans.ejs') %>
    <% } else if (path === '/admin/weds') { %>
    <%- include('wedCakes.ejs') %>
    <% } else if (path === '/admin/cups') { %>
    <%- include('cups.ejs') %>
    <% } else if (path === '/admin/vals') { %>
    <%- include('val.ejs') %>
    <% } %>
</section>