<%- include('../partials/general-partials/head.ejs') %>
</head>

<body class="<%= bodyType %>">
    <%- include('../partials/general-partials/header.ejs') %>
    <main>
        <%- include('../partials/general-partials/sec-abt.ejs') %>
        <%- include('../partials/general-partials/sec-sample.ejs') %>
        <%- include('../partials/general-partials/sec-description.ejs') %>
        <%- include('../partials/general-partials/sec-contact.ejs') %>
        <%- include('../partials/general-partials/sec-carousel.ejs') %>
        <%- include('../partials/general-partials/sec-pantry.ejs') %>
        <%- include('../partials/general-partials/sec-login.ejs') %>
    </main>
    <%- include('../partials/general-partials/footer.ejs') %>
    <%- include('../partials/general-partials/navi.ejs') %>
    <%- include('../partials/general-partials/sideup.ejs') %>
    <%- include('../partials/general-partials/end.ejs') %>