<%- include('../partials/general-partials/head.ejs') %>
</head>

<body class="<%= bodyType %>">
    <%- include('../partials/general-partials/signup.ejs') %>
    <main>
        <%- include('../partials/general-partials/login.ejs') %>
    </main>
    <%- include('../partials/general-partials/navi.ejs') %>
    <%- include('../partials/general-partials/end.ejs') %>