<section class="shop">
   <%- include('shop-header.ejs') %>
   <% if (path === '/user/cakes') { %>
   <%- include('shop-cakes.ejs') %>
   <% } else if (path === '/user/weds') { %>
   <%- include('shop-wedCakes.ejs') %>
   <% } else if (path === '/user/dons') { %>
   <%- include('shop-doughnuts.ejs') %>
   <% } else if (path === '/user/cookies') { %>
   <%- include('shop-cookies.ejs') %>
   <% } else if (path === '/user/cups') { %>
   <%- include('shop-cupcake.ejs') %>
   <% } else if (path === '/user/vals') { %>
   <%- include('shop-val.ejs') %>
   <% } else if (path === '/user/pans') { %>
   <%- include('shop-pancakes.ejs') %>
   <% } else if (path === '/user/details') { %>
   <%- include('shop-details.ejs') %>
   <% } %>
</section>